@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for chat */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Fix for Leaflet container */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
